
@-ms-viewport{
  width: device-width;
}

//@media (min-width: 1200px) {
//    .container{
//        max-width: 970px;
//    }
//}

@media (min-width: 1200px) {
    .container{
        max-width: 870px;
    }
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:10px;
  margin-bottom:15px;
  padding:20px;
}

.booyah-box>div>h1>a {
  //color: #94F00A;
  color: #5cb85c;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
 // font-family: 'sinkin_sans100_thin';
  font-family: 'sinkin_sans200_x_light';
}

h3>a {
  color: #5cb85c;
}

hr {
  height: 30;
}

body {
  //background: url('/assets/fresh_snow.png');

  font-family: 'sinkin_sans400_regular';

  //font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans //Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus //Mono L", Monaco, "Courier New", Courier, monospace;
}

.navbar {
  background: #94F00A;
  border-radius: 0;
  //box-shadow: 0px 2px 3px #25FA00;
  margin-bottom: 0;
}

.navbar .navbar-brand, .navbar {
  //color: #CC660C;
  color: #FFF;
  font-family: 'sinkin_sans500_medium';
}

.navbar .navbar-nav>li>a {
  //color: #CC660C;
  color: #FFF;
  font-family: 'sinkin_sans200_x_light';
}

.navbar .navbar-nav>li>a:hover {
  background-color: #94F00A;
  color: #449d44;
}

.navbar-header>a:hover {
  background-color: #94F00A;
  color: #449d44;
}

.next_page, .previous_page {
  font-family: 'sinkin_sans400_regular';
}

 a.next_page, a.previous_page {
    
     color: #5cb85c;
  }

//.btn-primary {
//  background-color: #CC660C;
//}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
}

#map {
  height: 300px;
}

.clear {
    clear: both;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 0px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  margin-left: 0px;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
  margin-left: 0px;
}


.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: 350px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
}

.carousel-caption {
    //font-family: 'Helvetica Neue', Helvetica, sans-serif;
    //color: #CC660C;
   
    font-family: 'sinkin_sans200_x_light';
    font-size: 15px;
    text-shadow: rgba(0,0,0,0.95) 2px 2px;
    background-color: rgba(0,0,0,0.3);
    margin-left: auto;
    margin-right: auto;
    
    //width: 540px;
}

//.carousel-control .carousel-control:hover {
//  opacity: 0.1;
//  color: black;
//}

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
  margin-top: 25px;
  background-color: #449d44;
}

//.text-orange, .booyah-box a {
.text-orange {
  color: #CC660C;
}

.img-cen {
  margin-left: auto;
  margin-right: auto;
}

.add-restaurant {
   margin-top: 40px;
   margin-bottom: 30px;
}

.title-padding {
    margin-top: 15px;
}

.comment-title-padding {
    margin-top: 10px;
}

.text-green {
   color: #94F00A;
}

.dark-green {
    color: #449d44;
}

 .browse-title {
   color: #449d44;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   font-size: 220%;
   margin-top: 25px;
   padding-left: 0;
 }

 .title-row {
    margin-top: 20px;
    margin-bottom: 20px;
 }

 .title-button {
   //padding-top: 15px;
 }


 .top-page-margin {
   margin-top: 35px;
 }

 .sign-button {
   margin-bottom: 10px;
 }



 .digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #449d44;
    color: white;
    border: 1px solid #449d44; }
  .digg_pagination a {
    text-decoration: none;
    color: #449d44;
    border: 1px solid #449d44; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #449d44;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }
